.Footer {
  background-color: var(--color-bg-footer);
  color: var(--color-white);
  padding-top: 64px;

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      margin-bottom: 8px;

      & > a {
        color: var(--color-white);
        text-decoration: none;
      }
    }
  }

  &__copyright {
    border-top: 1px solid var(--color-white);
    padding: 32px 0px;
    margin-top: 32px;
  }
}
