.Header {
    &__topNav {
        padding: 15px 0;
    }
    &__account {
        .agent {
            text-decoration: underline;
        }
        span {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: $primary;
        }
    }
    &__icons {
        padding: 0;
        margin: 0;
        list-style: none;
        .icon {
            margin-right: 20px;
            font-size: 22px;
            color: $primary;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
