.Header {
  &__topNav {
    height: 94px;
    padding: 12px 8px;
  }

  &__logo {
    width: 98px;
    height: 54px;
  }

  &__account {
    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--color-primary);
      margin-right: 24px;
    }

    button {
      margin: 8px;
    }
  }

  &__divider {
    font-size: 20px;
    font-weight: 100;
  }
}
