.hero {
  background: url(../../../public/img/landing/hero.png) no-repeat center center;
  background-size: cover;
  height: 600px;
  width: 100vw;
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0;
  &__overlay {
    background: url(../../../public/img/landing_overlay.png) no-repeat center
      center;
    background-size: cover;
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: left;
  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
}
