.auth {
    &__login-form {
        &__header {
            h3 {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
        &__body {
            font-size: 0.9rem;
            &__forgot-password {
                display: grid;
                place-items: center end;
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__button {
        width: 100%;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 200;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        border: none;
        color: $white;
        text-align: center;
        transition: all 0.3s ease-in-out;
        &:hover {
            cursor: pointer;
        }
        &--facebook {
            background-color: $facebook;
            &:hover {
                background-color: darken($facebook, 10%);
            }
        }
        &--google {
            color: black;
            border: 1px solid rgb(209, 209, 209);
            &:hover {
                background-color: darken($white, 4%);
            }
        }
    }
    &__bottom-text {
        display: grid;
        place-items: center;
        padding-top: 1rem;
        p {
            font-size: 0.9rem;
            font-weight: 200;
            margin-bottom: 0;
        }
        &__link {
            color: $primary;
            font-weight: 500;
            display: inline;
            &:hover {
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}