.custom-modal {
    padding: 1rem;
    &__header {
        display: grid;
        place-items: center;
        h3 {
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
        }
        p {
            margin-bottom: 0;
            text-align: center;
            margin-top: 1rem;
        }
    }
    &__body {
        font-size: 0.9rem;
        .radioBtn {
            margin-top: 2rem;
        }
    }
    &__footer {
        display: grid;
        place-items: center;
        margin-top: 1rem;
    }
}