.date-picker {
  width: 100%;
  // border: 1px solid #D9D9D9;
  height: 36px;
}

.react-date-picker__wrapper {
  border: 1px solid #d9d9d9 !important;
  border-radius: 4px !important;
}

.calendar-icon {
  color: #b9b9b9;
}

.react-datepicker__day--highlighted {
  background-color: #fa551e35;
  color: #000;
}
