.move-cost-card {
    border-radius: 0.6rem 0.6rem 0 0;
    border: 1px solid black;
    padding: 2rem;
    p {
        margin-bottom: 0;
        font-weight: 500;
    }
    &__section {
        margin-top: 1rem;
        &__head {
            p {
                font-size: 1rem;
                font-weight: 600;
            }
        }
        &__details {
            &__title {
                p {
                    font-size: 1rem;
                }
                &--cost {
                    display: grid;
                    place-items: center end;
                }
            }
        }
        &--total {
            border-top: 1px solid #D9D9D9;
            padding-top: 1rem;
            ul {
                list-style: none;
                padding: 0;
            }
        }
        &--payable {
            background-color: #000000;
            margin-top: 0;
            padding: 1.5rem 2rem;
            border-radius: 0 0 0.6rem 0.6rem;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                p {
                    margin-bottom: 0;
                    color: #ffffff;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
    &__head {
        p {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}

.center {
    display: grid;
    place-items: center center;
    text-align: center;
}
