.Uploader {
    position: relative;
    margin: 25px 0 15px;
    padding: 35px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;


    &__text {
        font-weight: bold;
        letter-spacing: 2.2px;
        margin-top: 0;
        text-align: center;
    }

    &__dropzone {
        border: 2px dotted lightgray;

        &--dragging {
            border: 2px solid lightgray;

        }
    }

}
