.button {
    height: 44px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid;
    padding: 0px 12px;
    &-primary {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
    &-primary--outline {
        background-color: var(--color-white);
        color: var(--color-primary);
    }
    &-secondary {
        background-color: var(--color-secondary);
        color: var(--color-white);
    }
    &-danger {
        background-color: var(--color-danger);
        color: var(--color-white);
    }
    &-success {
        background-color: var(--color-success);
        color: var(--color-black);
    }
}