h1,
.h1 {
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  line-height: 64px;
}

h2,
.h2 {
  font-weight: var(--font-weight-semi-bold);
  font-size: 32px;
}

h3,
.h3 {
  font-weight: var(--font-weight-semi-bold);
  font-size: 24px;
}

h4,
.h4 {
  font-weight: var(--font-weight-semi-bold);
  font-size: 20px;
}

h5,
.h5 {
  font-weight: var(--font-weight-semi-bold);
  font-size: 18px;
}
