.AboutSection {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 64px;
    }
    p {
        width: 50%;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin: 30px auto;
    }
}