@import "../utils/mixins";

.Accreditation {

  display: flex;
  flex-direction: column;
  padding: 36px;
  justify-content: center;
  align-items: center;

  & > h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 32px;
  }

  &__logos {
    & > img {
      margin-right: 32px;
    }
  }
}
