@import "./hero";
@import "./navigation";
@import "./about";
@import "./accrediations";

@import "./faqs";
@import "./how-it-works";

@import "./offer";
@import "./testimonials";
@import "./selector";
