@import "../utils/mixins";
.FAQs {
    background-color: #f9f9f9;
    padding-bottom: 64px;
    padding-top: 40px;
    &__container {
        padding-top: 48px;
        &>h1 {
            margin-bottom: 48px;
        }
    }
}

.FAQ {
    background-color: var(--color-white);
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 32px;
    &__question {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;
        font-weight: var(--font-weight-semi-bold);
        line-height: 120%;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    &__answer {
        font-size: 20px;
        font-weight: var(--font-wight-regular);
    }
}