@import "../utils/mixins";

.HowItWorks {


  &__image-container {
    height: 438px;
    width: 412px;
    background-color: var(--color-primary);
    border-radius: 0px 24px 0px 0px;
  }

  &__image {
  }

  &__description {
    & > p {
      font-size: 24px;
      line-height: 36px;
    }

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        & > div {
          width: 64px;
          height: 64px;
          border-radius: 16px;
          margin-right: 32px;
        }

        & > p {
          font-size: 24px;
          font-weight: var(--font-weight-semi-bold);
        }
      }
    }
  }
}
