@import "../utils/mixins";

.Navigation {
  height: 56px;
  align-items: center;
  background-color: var(--color-primary);
  padding: 16px 8px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 8px 16px;

      a {
        color: var(--color-white);
        text-decoration: none;
      }
    }
  }
}
