@import "../utils/mixins";
.Offer {
    margin-top: 64px;
    margin-bottom: 64px;
    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 64px;
        text-align: center;
        margin-bottom: 24px;
    }
    p {
        width: 50%;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin: 30px auto;
    }
}

.Services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 100px;
}