.Selector {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  &__options {
    padding-left: 70px;
  }

  &__button {
    margin-bottom: -8px;
    margin-left: 4px;
    border: 0;
    background-color: #fefefe;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
  }

  &__instructions {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 32px 24px;
    box-shadow: 0px 4px 20px -2px #6e80b4;

    & > div > h4 {
      margin-bottom: 16px;
    }
  }
}
