.resources {
    &__section-header {
        h2 {
            font-weight: 500;
        }
    }
    &__products-summary {
        &__product {
            border: 1px solid #CFD3D6;
            border-radius: 8px;
            padding: 15px;
            overflow: hidden;
            &__information-head {
                font-size: 1.3rem;
                font-weight: 600;
            }
            &__information-summary {
                font-size: 0.8rem;
            }
            &__image {
                overflow: hidden;
                img {
                    border-radius: 8px;
                }
            }
            &__information-button {
                .btn-link {
                    color: $secondary;
                    text-decoration: none;
                }
            }
        }
    }
}