@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary: #1d3a7a;
$secondary: #fa551e;
$danger: #da3832;
$red: $danger;
$success: #00c247;
$warning: #ffe16a;
$alternate-blue: #1D3A7A;
@import "react-date-picker/dist/DatePicker.css";
@import 'react-calendar/dist/Calendar.css';
@import "~bootstrap/scss/bootstrap";
@import "./bootstrap-overides";
@import 'swiper/css';
@import "swiper/css/navigation";
// Abstract files
@import "utils/all";
// Vendor Files
@import "vendor/all";
// Core files
@import "core/all";
// Components
@import "components/all";
// Layout
@import "layout/all";
// Sections
@import "sections/all";
// Pages
@import "pages/all";
@import "./moves";
