:root {
  // Website colors
  --color-primary: #1d3a7a;
  --color-blue-secondary: #3157aa;
  --color-red-primary: #da3832;
  --color-secondary: #fa551e;
  --color-bg-footer: #1a2741;

  // Alerts & Status
  --color-success: #00c247;
  --color-info: #004ce8;
  --color-warning: #ffe16a;
  --color-error: #ff3333;
  --color-disabled: #d8d8d8;
  --color-btn-disabled: #879ac1;

  // Blacks
  --color-black: #191632;
  --color-black-900: #212121;
  --color-black-800: #424242;
  --color-black-700: #616161;
  --color-black-600: #757575;
  --color-black-500: #9e9e9e;
  --color-black-400: #bdbdbd;
  --color-black-300: #e0e0e0;
  --color-black-200: #eeeeee;
  --color-black-100: #f5f5f5;
  --color-black-50: #fafafa;
  --color-white: #ffffff;

  // Other colors
  --color-pink: #e91e63;
  --color-purple: #9c27b0;
  --color-teal: #009688;
  --color-amber: #ffc107;
  --color-deep-orange: #ff5722;
  --color-deep-purple: #673ab7;
  --color-indigo: #3f51b5;
  --color-blue-grey: #607d8b;
  --color-light-blue: #03a9f4;
  --color-cyan: #00bcd4;

  // Fonts
  --font-family: "Open Sans", sans-serif;
  --font-color: #000000;
  --font-size: 16px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
